<h3>Add book to reading list:</h3>

<% @my_clubs.inspect %>

<%= form_for @reading_list, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= hidden_field_tag(:book_id, params[:book_id]) %>
  <%= select_tag(:club_id, options_for_select(@my_clubs)) %>
  <%= f.submit "Create" %>
<% end %>
