<h3>Reading Lists:</h3>
  <p>
    <% @reading_lists.each do |list| %>
    <div class='reading-list-item'>
      <a class='button-book' href='/books/<%=list.book.goodreads_id%>'><%= list.book.name %></a>
      <%= link_to 'team summary', reading_list_path(list), class: 'button' %></p>
      <%= link_to 'see all book notes', book_notes_path(list.book.goodreads_id), class: 'button' %>
  </div>
    <% end %>
  </p>
