<h2>Reading List</h2>

<h3>Current club</h3>
  <p>
    <%= @current_club.name %>
  </p>

<h3>Current book</h3>
  <p>
    <%= @current_list.book.name %>
  </p>
<h3>Marked pages:</h3>

<% @current_book_marked_pages.each do |page| %>

  <%= page.number %>

<% end %>
