<h2>Reading List</h2>

<h3>Current club</h3>
  <p>
    <%= @current_club.name %>
  </p>

<h3>Current book</h3>
  <p>
    <%= @current_list.book.name %>
  </p>

<h3>Marked pages:</h3>

<% @current_book_notes.each do |note| %>

  <%= note.page_number %>

<% end %>

<h3>Leave a note:</h3>
<%= link_to 'Add a Reading Note', new_book_note_path(@current_list.book.id), class: 'button' %>
