<h1 class='home'>Welcome to the Book Club</h1>
<%= render 'welcome/form' %>

<div id='home-links' class='home'><%= link_to 'See the topics', controller: 'topics' %></div>
<img id='home-image' class='home' src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Moby_Dick_p510_illustration.jpg">


<img src="<%= if @search2 then @search2.image_url end %>">
