/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Adjust layout generally: */
html {

  background-color: #fff7cc

}

nav {

  display: flex;
  justify-content: center;
  z-index: 2;
  color: #fcfdff;
  font-size: 1.5em;
  font-family: Georgia;

}

.home {

  display: flex;
  justify-content: center;

}

#home-image {
  margin-left: 16%;
}

#home-links {
  /*margin-left: 0%;*/
  font-size: 2em;
  margin-bottom: 4%;

}

nav a {

  color: #fcfdff;
}

body {
  margin: 0;
  padding: 0;
  color: #fcfdff;

}

.whole-thing {

  padding: 0;
  margin: 0;
  height: auto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Boger%2C_Sigurdur_Olafsson.jpg/1024px-Boger%2C_Sigurdur_Olafsson.jpg");

}

.whole-thing a {

  color: #fcfdff;
  margin: 0;
  height: auto;

}

.main-area {

  z-index: 2;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30%;
  margin:0;
  height: auto;

}

.alert.alert-success {

  color: lightGreen;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-left: 10%;

}

.alert.alert-danger {

  color: pink;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-left: 10%;

}

.message {

}

/* Adjust forms specifically: */

#add-comment-form {

  margin-left: 25%;
  font-size: 1em;

}

#add-comment-form textarea {

  width: 500px;
  height: 100px;

}

progress {

    display: none;
    position:fixed;
    top:15px;

}


/* Adjust index page */

table {

  margin-left: 10%;
  font-size: 1em;
  width: 100vh;
  background-color: hsla(0, 0%, 0%, 0.2);   /* light green with opacity */
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

}

td {

  padding-top: 5%;

}

.index-page {
  display: flex;
  justify-content: center;

}

/* Adjust show page */

#show-topic {

  background-color: hsla(0, 0%, 40%, 0.3);   /* light green with opacity */
  padding: 5%;

}

/* Adjust serach bar settings */

.footer-nav {

  display: flex;
  justify-content: center;

}

.search-form {
                width:100%;
                margin:50px auto;
                display: flex;
                justify-content: center;
}

.search-input {

                padding:8px 15px;
                background:rgba(255, 216, 132, 0.9);
                border:0px solid #dbdbdb;
                color: blue;
}

.search-submit {

                /*position:inline;*/
                padding:6px 15px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}

.search-submit:hover  {
                background-color:#fafafa;
                color:#207cca;
}


/* Style the forum discussion */

.forum {

  border: 0;
  margin: 0;


}

.forum p {

  display: inline-block;

}

.forum-button {
  font-size: 0.5em;
}

.forum-commenter {

  font-size: 1.2em;
  color: #47c4ff

}

.forum-comment-body {

  font-size: 1em;
  margin-left: 1%;

}
