/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Adjust layout generally: */
html {

  background-color: #fff7cc

}

nav {

  display: flex;
  justify-content: center;
  z-index: 2;
  color: #fcfdff;
  font-size: 3em;
  font-family: Georgia;

}

.home {

  display: flex;
  justify-content: center;

}

#home-image {
  margin-left: 16%;
}

#home-links {
  /*margin-left: 0%;*/
  font-size: 2em;
  margin-bottom: 4%;

}

nav a {

  color: #fcfdff;
}

body {
  margin: 0;
  padding: 0;
  color: #fcfdff;

}

.whole-thing {

  padding: 0;
  margin: 0;
  height: auto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Boger%2C_Sigurdur_Olafsson.jpg/1024px-Boger%2C_Sigurdur_Olafsson.jpg");

}

.whole-thing a {

  color: #fcfdff;
  margin: 0;
}

.main-area {

  z-index: 2;
  padding: 10%;
  margin-bottom: 0;

}

.alert.alert-success {

  color: green;
  z-index: 1;

}

.alert.alert-danger {
  color: red;
  z-index: 1;

}

/* Adjust forms specifically: */

#add-comment-form {

  margin-left: 25%;
  font-size: 1em;

}

#add-comment-form textarea {

  width: 500px;
  height: 100px;

}
