/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
background-color: #fff7cc

}


nav {

  display: flex;
  justify-content: center;
  z-index: 2;

}

body {

  padding: 2%;

}

.whole-thing {

  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Boger%2C_Sigurdur_Olafsson.jpg/1024px-Boger%2C_Sigurdur_Olafsson.jpg");

}

.main-area {

padding: 10%;

}


.alert.alert-success {

  color: green;
  z-index: 1;

}

.alert.alert-danger {
  color: red;
  z-index: 1;

}

img {
  z-index: 3

}
